#APP {
  width: 375px;
}
.campMainTitle {
  display: block;
  margin: auto;
  margin-top: 37px;
  font-family: 'SFProText';
  font-size: 14px;
  line-height: 16px;
  width: 48px;
  text-align: center;
  color: #000000;
}
.campCont {
  display: flex;
  width: 375px;
  height: 101px;
  margin-left: 0px;
  margin-top: 70px;  
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #E0EEF2;
}
.campImg {
  width: 65px;
  height: 65px;
  margin-left: 18px;
  border-radius: 18px;
}
.campTitle {
  display: flex;
  flex-direction: column;
  height: 28px;
  display: block;
  margin-left: 14px;
  margin-top: 5px; 
  font-family: 'SFProText';
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -0.456px;
  color: #000000;
}
.campText {
  margin: 0px;
  margin-left: 5px;
}
.campInstall {
  margin: 0px;
  width: 100px;
  font-family: SFProText;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.32px;  
  color: #009330;  
}
.mediaCont {
  background: #F7FBFC;
  display: flex;
  flex-direction: row;
  width: 374px;
  overflow: hidden;
}
.mediaImg {
  width: 101px;
  height: 179px;
  margin-left: 12px;
  border-radius: 6px;
  filter: brightness(60%);
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.mediaPlay {
  position: relative;
  float: left;
  top: -100px;
  left: -60px;
  width: 22.82px;
  height: 24.24px;
  background: transparent;
  border-radius: 1.5px;
  z-index: 2;
}
.buttonCont {  
  margin-left: 14px;
}
.mediaButton {
  width: 47px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #E0EEF2;
  box-sizing: border-box;
  border-radius: 6px;
}
